

<h3>Search Results</h3>


<ul>
[% FOREACH r = searchresults %]
<li> <a href="/site/movie/[% r.id %]/[% r.title | replace('\s+','-') | url %]">[% r.title %]</a>
[% END %]
</ul>

[%# USE Dumper(Pad="<br>") %]
[%# Dumper.dump(searchresults) %]