<h2> [% c.user.firstname %] [% c.user.lastname %]</h2>
<div class="entry-content" id="page-content">

<p>
  <img width="48" height="48" src="[% user.picture %]" alt="Review" />
  [% user.firstname %] [% user.lastname %]
<p>


  <h2>Reviews</h2>
  <ul>
    [% FOREACH r = reviews %]
    <li><a href="/movie/[% r.movie.id %]">[% r.movie.title %]</a> : 

      [% r.review %] 
      [% i = 1 ; WHILE i <= r.rating ; star ; i = i + 1 ; END %]&nbsp;
      [% END %]
  </ul>
</div>
