<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="en-US" xml:lang="en-US">
  <head>
    <title>[% movie.0.title || title %]</title>

    <meta name="google-site-verification" content="AJttYu5AxWHuQTA6XC6QRBb5iH3G850HvUXZLjaTJSk" />

    <meta name="Keywords" content=" " />
    <meta name="Description" content=" " />
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    
    <!-- Google Fonts Call -->
    <link href="http://fonts.googleapis.com/css?family=Brawler" rel="stylesheet" type="text/css" />


    
    <!-- Get the Stylesheet -->
    <link rel="stylesheet" href="/static/css/style.css" type="text/css" media="all" />
    <link rel="stylesheet" href="/static/css/style.css.carousel" type="text/css" media="all" />
    <link rel="stylesheet" href="/static/css/liquidcarousel.css" type="text/css" media="all" />
    
    <link rel="icon" type="image/png" href="http://www.cineastic.co.uk/favicon.png" />
    <!-- Get the JS -->
  <script type="text/javascript" charset="utf8" src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.2.min.js"></script>
  <script type="text/javascript" charset="utf8" src="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/jquery.dataTables.min.js"></script>

<!--
    <script type="text/javascript" src="/static/js/jquery.min.js"></script>
    <script type="text/javascript" src="/static/js/reviewer.js"></script>
-->

    <link href="http://cdn.datatables.net/1.10.3/css/jquery.dataTables.min.css" rel="stylesheet" type="text/css" /> 
     <script type="text/javascript" src="http://cdn.datatables.net/1.10.3/js/jquery.dataTables.min.js"></script>

    
    <meta name="description" content="[% movie.0.rt_synopsis.substr(0,150) %]..." />

<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-439915-11']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>


[% IF c.req.path.substr(0,5) == "movie" %]
<!-- Facebook opengraph tags -->

<meta property="og:title" content="[% movie.title %]" />
<meta property="og:type" content="movie" />
<meta property="og:url" content="[% c.req.base %][% c.req.path %]" />
<meta property="og:image" content="[% movie.rt_img_det %]" />
<meta property="og:site_name" content="Cineastic" />
<meta property="fb:app_id" content="488847887809771" />

<!-- sharing collateral -->

<script type="text/javascript">var switchTo5x=true;</script>
<script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
<script type="text/javascript">stLight.options({publisher: "2b915e34-040d-4f0c-879e-9a7f6e9ae486", doNotHash: false, doNotCopy: false, hashAddressBar: false});</script>

[% END %]

<script type="text/javascript" src="/static/js/jquery-1.4.2.min.js"></script>
<script type="text/javascript" src="/static/js/jquery.liquidcarousel.js"></script>
<script type="text/javascript">
	<!--
		$(document).ready(function() {
			$('#liquid1').liquidcarousel({height:150, duration:100, hidearrows:false});
		});
	-->
	</script>

  </head>
  <body class="sidebar_right">

[% IF c.req.path.search('/movie') %]
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_GB/all.js#xfbml=1&appId=488847887809771";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
[% END %]


    <div id="wrapper">
      [% PROCESS header_bar.tt %]
      [% IF c.req.path ==  "" %]
      [% PROCESS header_carousel.tt %]
      [% END %]

      <div id="main_content_alt">
	<div class="container">
	  <div class="posts-wrap">
	    <div id="page">
	      [% content %]
	    </div> <!-- page -->
	  </div> <!-- posts-wrap -->

	</div> <!-- container -->
	  [% PROCESS sidebar.tt %]
	  <div class="clear"></div>

      </div><!-- end div#main_content -->
      [% PROCESS footer.tt %]
    </div>
  </body>
</html>




